<div class="subheader-container layout-center-center row">

    <div class="subheader">

        <ul id="header-slide" class="layout-start-center row">
            <li>
                <img src="/images/website/header/LOGO/1.png" alt="logo" />
            </li>
            <li>
                <img src="/images/website/header/LOGO/2.png" alt="logo" />
            </li>
            <li>
                <img src="/images/website/header/LOGO/4.png" alt="logo" />
            </li>
            <li>
                <img src="/images/website/header/LOGO/3.png" alt="logo" />
            </li>
        </ul>

    </div>
</div>

<div class="divider-subheader"></div>