<div class="rightbar layout-start-center column hide-xs">

    <a id="appel" href="#" [class.selected]="'appelRoute' === selectedPage"></a>

    <a id="projet" href="#" [class.selected]="'projetRoute' === selectedPage"></a>

    <a id="beneficiaire" href="#" [class.selected]="'projetB' === selectedPage"></a>

    <a id="agenda" href="#" [class.selected]="'projetZoute' === selectedPage"></a>

    <a id="abecedaire" href="#" [class.selected]="'projetDZoute' === selectedPage"></a>

    <a id="boite" href="#" [class.selected]="'projetDZoute' === selectedPage"></a>

</div>